<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${gyBannerItem.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">banner id：</label>
								<div class="col-sm-8">
									<input id="bannerid" name="bannerid" th:value="${gyBannerItem.bannerid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数值：</label>
								<div class="col-sm-8">
									<input id="num" name="num" th:value="${gyBannerItem.num}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单位：</label>
								<div class="col-sm-8">
									<input id="unit" name="unit" th:value="${gyBannerItem.unit}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">标题：</label>
								<div class="col-sm-8">
									<input id="title" name="title" th:value="${gyBannerItem.title}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/gongyong/gyBannerItem/edit.js">
	</script>
</body>
</html>
